.page-wide-image {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 0px 1px 4px 0px $grey-color-dark;
  margin-bottom: 20px;

  min-height: 300px;
  @include media-query(1200px) {
    min-height: 200px;
  }
  @include media-query(600px) {
    min-height: 150px;
  }

  &.tall {
    height: 500px;
    @include media-query(768px) {
      height: 300px;
      background-size: 150% auto;
    }
    @include media-query(600px) {
      height: 200px;
      background-size: 150% auto;
    }
  }
  &.tea-is-hilarious {
    background-image: url(/images/eng/C_K092016-4.jpg);
    background-position: center 70%;
    @include media-query(1200px) {
      background-position: center 70%;
    }
    @include media-query(600px) {
      background-position: center 90%;
    }
    &.tall {
      background-position: center 70%;
      @include media-query(1200px) {
        background-position: center bottom;
      }
    }
  }
  &.tea-is-itchy {
    background-image: url(/images/eng/C_K092016-5.jpg);
    background-position: center 60%;
    @include media-query(1200px) {
      background-position: center 55%;
    }
    @include media-query(768px) {
      background-position: center 70%;
    }
    &.tall {
      background-position: center 70%;
      @include media-query(1200px) {
        background-position: center bottom;
      }
      @include media-query(768px) {
        background-position: center 70%;
      }
    }
  }
  &.so-serious {
    background-image: url(/images/eng/C_K092016-12.jpg);
    background-position: center 35%;
    @include media-query(1100px) {
      background-position: center 35%;
    }
  }
  &.smiling-like-idiots {
    background-image: url(/images/eng/C_K092016-17.jpg);
    background-position: center 65%;
    @include media-query(1200px) {
      background-position: center 70%;
    }
    @include media-query(600px) {
      background-size: 130% auto;
    }
  }
  &.engaged {
    background-image: url(/images/eng/C&KHoliday-4.jpg);
    background-position: center 55%;
    @include media-query(1200px) {
      background-position: center 45%;
    }
  }
}
