.page-wide-image {
  width: 100%;
  min-height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 0px 1px 4px 0px $grey-color-dark;
  margin-bottom: 20px;

  &.tall {
    height: 500px;
    @include media-query(768px) {
      height: 300px;
      background-size: 150% auto;
    }
    @include media-query(600px) {
      height: 200px;
      background-size: 150% auto;
    }
  }
  &.tea-is-hilarious {
    background-image: url(/images/eng/C_K092016-4.jpg);
    background-position: 40% 70%;
    @include media-query(1000px) {
      background-position: 65% bottom;
    }
  }
  &.tea-is-itchy {
    background-image: url(/images/eng/C_K092016-5.jpg);
    background-position: center 70%;
    @include media-query(1200px) {
      background-position: center bottom;
    }
    @include media-query(768px) {
      background-position: center 70%;
    }
  }
  &.so-serious {
    background-image: url(/images/eng/C_K092016-12.jpg);
    background-position: 40% middle;
    @include media-query(1100px) {
      background-position: 40% bottom;
    }
  }
}
